
read -f -formal HDLS.F
hierarchy -check -auto-top
prep -top ariane;
#chformal -assume -early;

flatten;

sim -clock clk_i -resetn rst_ni -n 2 -rstlen 2 -w
async2sync
opt_clean
scc -select; simplemap; select -clear
setundef -undriven -expose;
# This writes to a file in BTOR2 format
write_btor -c PATH.btor2